<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8'>
    <title>{% block title %}Test Julien{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block javascripts %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>
